body {
    margin: 30px;
    padding: 50px;
}
table {
    width: 80%;
    height: 550px;
}
#order {
    background: green;
    text-align: center;
    color: white;
}
#printorder {
    background: burlywood;
    /* text-align: center; */
    color: white;
}